<h1>Ironhack Cinema</h1>
<h2>Click on the movie to check the showtimes!</h2>

<div class="contain-movies">
    {{#each film}}
    <div class="uniqueMovieBox">
        <img  class="imageMovie" src="{{this.image}}" alt="movieImg">
        <p class="titleMovie" >{{this.title}}</p>
        <a  class="detailsMovie" href="/movies/{{_id}}">See more</a>   
    </div>     
    {{/each}}
</div>