h1 {
    font-size: 2em;
    color: black;
}

h2 {
    font-size: 1em;
    color: black;
}

.detailsMovie {
    color: #00B7FF;
    font-size: 1.5em;
    text-decoration: none;
  }

.titleMovie {
    color: black;
    font-size: 1em;
}

.imageMovie {
    height: 200px;
    
}

.uniqueMovieBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 50px;
    
}

.contain-movies{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

